<strong>Olá, {{ provider }}</strong>
<p> Houve um cancelamento de contagem, confira os detalhes abaixo: </p>
<p>
  <strong>Demanda: </strong> {{ demand }} <br />
  <strong>Usuário: </strong> {{ user }} <br />
  <strong>Data/Hora: </strong> {{ date }} <br />
  <br />
  <small>
    Esta contagem não deve ser enviada para a Fábrica de Métricas para aferição.
  </small>
</p>
